Package: scalpel
Version: 1.60-1
Architecture: amd64
Maintainer: Danny van der Meeren <danny@illogic.nl>
Installed-Size: 158
Depends: libc6 (>= 2.3)
Section: utils
Priority: optional
Description: A Frugal, High Performance File Carver
 A fast file carver that reads a database of header and footer definitions
 and extracts matching files from a set of image files or raw device files.
 Scalpel is filesystem-independent and will carve files from FATx, NTFS, ext2/3,
 or raw partitions. It is useful for both digital forensics investigation and
 file recovery.
